@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

html,
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "i r"
    ". h";
}
#inputbox {
  grid-area: "i";
}
#rader {
  grid-area: "r";
}
#history {
  grid-area: "h";
}
